@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

input {
  border: none; }
  input:focus {
    outline: none; }

button {
  border: none;
  text-decoration: none;
  background: none; }
  button:hover {
    outline: none;
    cursor: pointer; }

h1 {
  font-family: "Source Serif Pro", serif; }

body {
  font-family: "Poppins", "Roboto", sans-serif; }

.green {
  color: #00dd12; }

.red {
  color: #cf0300; }

.font-heading {
  font-size: 40px;
  margin: 2rem 1rem 3rem;
  text-align: center;
  color: #005951;
  text-shadow: 2px 2px 6px #c7c7c7; }
  @media screen and (max-width: 470px) {
    .font-heading {
      margin-bottom: 2rem;
      font-size: 35px; } }

ul.font-text {
  margin: 1rem 5rem;
  line-height: 1.6; }
  @media screen and (max-width: 470px) {
    ul.font-text {
      font-size: 16px;
      margin: 1rem 3rem; } }

.font-text {
  font-size: 18px;
  margin: 1rem 3rem;
  font-weight: 500;
  color: #484848;
  line-height: 24px; }
  @media screen and (max-width: 470px) {
    .font-text {
      font-size: 16px;
      margin: 1rem; } }

.font-subheading {
  margin: 2rem 3rem 1rem;
  color: #1b2437;
  font-size: 25px; }
  @media screen and (max-width: 470px) {
    .font-subheading {
      font-size: 20px;
      margin: 2rem 1rem 1rem; } }

.margin-btm {
  margin-bottom: 3rem; }

li {
  text-align: -webkit-match-parent; }

a {
  text-decoration: none;
  color: #484848; }

.container-area {
  min-height: 80vh;
  width: fit-content;
  margin: 0 auto;
  max-width: 550px;
  padding: 0 1rem; }
  .container-area .area--heading {
    font-family: "Poppins";
    font-size: 40px;
    margin-top: 4rem;
    color: #004a85;
    word-spacing: 7px;
    text-align: center; }
  .container-area .area--description {
    font-size: 17px;
    margin-top: 1rem;
    color: #343434;
    font-weight: 500;
    text-align: center; }
  .container-area .fields-container {
    box-shadow: -2px -2px 6px rgba(0, 107, 194, 0.12), 2px 2px 6px rgba(0, 107, 194, 0.12);
    margin-top: 3rem;
    padding: 2rem;
    margin-bottom: 4rem; }
    .container-area .fields-container img {
      width: 100%;
      height: 350px;
      object-fit: cover; }
    .container-area .fields-container .success-msg--notification {
      font-size: 21px;
      color: green;
      margin-top: 1rem;
      text-align: center; }
    .container-area .fields-container--field {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem; }
      .container-area .fields-container--field label {
        font-weight: 500;
        font-size: 18px; }
      .container-area .fields-container--field input {
        font-size: 20px;
        margin-top: 10px;
        border: 1px solid #c7c7c7;
        padding: 10px 15px; }
    .container-area .fields-container--btn {
      margin-top: 1rem;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      width: 100%;
      border-radius: 7px; }
      .container-area .fields-container--btn.fill {
        font-size: 20px;
        background: #2196f3;
        padding: 10px 0;
        font-weight: 600;
        color: white; }
      .container-area .fields-container--btn .link-text {
        font-weight: 500;
        color: #00a5ec;
        text-decoration: underline; }
    .container-area .fields-container--error {
      color: red;
      font-weight: 500;
      display: none; }
      .container-area .fields-container--error.active {
        display: block; }
  @media screen and (max-width: 620px) {
    .container-area .area--heading {
      font-size: 26px; }
    .container-area .area--description {
      font-size: 16px; }
    .container-area .fields-container {
      padding: 1rem 0;
      box-shadow: none;
      margin-top: 2rem; }
      .container-area .fields-container img {
        height: 200px; } }
  @media screen and (max-width: 380px) {
    .container-area .area--heading {
      font-size: 20px; }
    .container-area .fields-container {
      margin-top: 1.5rem; }
      .container-area .fields-container img {
        height: 170px; } }

.middle__banner {
  display: flex;
  background: rgba(201, 164, 151, 0.521569);
  height: 60vh;
  overflow: hidden;
  margin-bottom: 3rem; }
  .middle__banner__img--img {
    opacity: 0.7;
    height: 60vh;
    max-width: 60vw;
    object-fit: contain; }
  .middle__banner__info {
    margin: auto 3rem; }
    .middle__banner__info--heading {
      font-size: 40px;
      word-spacing: 5px;
      word-break: break-word; }
      .middle__banner__info--heading span {
        color: #005e86;
        text-shadow: 1px 1px 4px #fff; }
    .middle__banner__info--sub-heading {
      font-size: 22px;
      margin-top: 2rem;
      word-spacing: 3px; }
      .middle__banner__info--sub-heading span {
        font-weight: bold;
        color: #e91e63;
        text-shadow: 1px 1px 4px #fff; }
    .middle__banner__info--register {
      display: block;
      width: fit-content;
      margin-top: 3rem;
      font-size: 25px;
      background: #005e86;
      font-weight: bold;
      color: #fff;
      padding: 10px 21px;
      border-radius: 8px;
      box-shadow: 4px 4px 5px rgba(0, 94, 134, 0.5);
      transform: translateY(-5px);
      transition: all 0.2s linear; }
      .middle__banner__info--register:hover {
        box-shadow: none;
        transform: translateY(0); }
  @media screen and (max-width: 1110px) {
    .middle__banner__img--img {
      width: 40vw;
      object-fit: cover; } }
  @media screen and (max-width: 830px) {
    .middle__banner {
      justify-content: center;
      align-items: center;
      padding: 3rem 2rem;
      height: fit-content;
      background: rgba(201, 164, 151, 0.521569); }
      .middle__banner__img--img {
        display: none; }
      .middle__banner .middle__banner__info {
        margin: 0; } }
  @media screen and (max-width: 365px) {
    .middle__banner {
      padding: 2rem 1rem; }
      .middle__banner .middle__banner__info--heading {
        font-size: 30px; }
      .middle__banner .middle__banner__info--sub-heading {
        font-size: 18px; }
      .middle__banner .middle__banner__info--register {
        font-size: 20px; } }

.middle__details {
  margin: 0 2rem; }
  .middle__details--heading {
    font-family: 'unicons-line';
    font-size: 40px;
    text-align: center;
    color: #1b2437; }
  .middle__details--description {
    font-weight: 500;
    color: #484848;
    font-size: 18px;
    text-align: center;
    margin: 1rem 0;
    line-height: 1.5; }
  .middle__details__container {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    padding: 0 3rem;
    margin: 6rem 2rem;
    justify-content: space-between; }
    .middle__details__container--holder {
      margin: 0 3rem; }
      .middle__details__container--holder img {
        max-width: 40vw;
        max-height: 300px;
        background: #f5f5f5;
        padding: 2rem;
        border-radius: 15px;
        object-fit: contain; }
      .middle__details__container--holder h4 {
        font-size: 22px;
        margin-bottom: 2rem;
        background: #c2c2c2;
        width: fit-content;
        padding: 5px 15px;
        position: relative;
        left: -15px; }
      .middle__details__container--holder p {
        font-size: 20px;
        max-width: 700px; }
  @media screen and (max-width: 950px) {
    .middle__details__container {
      box-shadow: 0px 0px 4px #1b2437;
      flex-direction: column;
      background: #f5f5f5;
      width: fit-content;
      margin: 5rem auto;
      padding: 2rem 3rem;
      position: relative;
      border-radius: 14px;
      overflow: hidden; }
      .middle__details__container--holder {
        margin: 0; }
      .middle__details__container h4 {
        position: relative;
        left: 0px; }
      .middle__details__container--holder.img {
        display: none; } }
  @media screen and (max-width: 1110px) {
    .middle__details__container p {
      font-size: 18px; }
    .middle__details__container img {
      width: 300px;
      height: 210px; } }
  @media screen and (min-width: 1280px) {
    .middle__details__container {
      padding: 0 6rem; } }
  @media screen and (max-width: 560px) {
    .middle__details__container {
      margin: 3rem 0;
      padding: 0;
      padding-bottom: 2rem; }
      .middle__details__container p {
        font-size: 16px;
        margin: 0 1rem; }
      .middle__details__container h4 {
        font-size: 20px;
        width: 100%;
        padding: 20px 15px; } }
  @media screen and (max-width: 470px) {
    .middle__details--heading {
      font-size: 30px; }
    .middle__details--description {
      font-size: 15px; } }
  @media screen and (max-width: 370px) {
    .middle__details__container p {
      font-size: 14px; }
    .middle__details__container h4 {
      font-size: 18px; } }
  @media screen and (max-width: 320px) {
    .middle__details {
      margin: 0 1rem; }
      .middle__details--heading {
        font-size: 25px; }
      .middle__details--description {
        font-size: 14px; } }
