@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

input {
  border: none; }
  input:focus {
    outline: none; }

button {
  border: none;
  text-decoration: none;
  background: none; }
  button:hover {
    outline: none;
    cursor: pointer; }

h1 {
  font-family: "Source Serif Pro", serif; }

body {
  font-family: "Poppins", "Roboto", sans-serif; }

.green {
  color: #00dd12; }

.red {
  color: #cf0300; }

.font-heading {
  font-size: 40px;
  margin: 2rem 1rem 3rem;
  text-align: center;
  color: #005951;
  text-shadow: 2px 2px 6px #c7c7c7; }
  @media screen and (max-width: 470px) {
    .font-heading {
      margin-bottom: 2rem;
      font-size: 35px; } }

ul.font-text {
  margin: 1rem 5rem;
  line-height: 1.6; }
  @media screen and (max-width: 470px) {
    ul.font-text {
      font-size: 16px;
      margin: 1rem 3rem; } }

.font-text {
  font-size: 18px;
  margin: 1rem 3rem;
  font-weight: 500;
  color: #484848;
  line-height: 24px; }
  @media screen and (max-width: 470px) {
    .font-text {
      font-size: 16px;
      margin: 1rem; } }

.font-subheading {
  margin: 2rem 3rem 1rem;
  color: #1b2437;
  font-size: 25px; }
  @media screen and (max-width: 470px) {
    .font-subheading {
      font-size: 20px;
      margin: 2rem 1rem 1rem; } }

.margin-btm {
  margin-bottom: 3rem; }

li {
  text-align: -webkit-match-parent; }

a {
  text-decoration: none;
  color: #484848; }

.container-area {
  min-height: 80vh;
  width: fit-content;
  margin: 0 auto;
  max-width: 550px;
  padding: 0 1rem; }
  .container-area .area--heading {
    font-family: "Poppins";
    font-size: 40px;
    margin-top: 4rem;
    color: #004a85;
    word-spacing: 7px;
    text-align: center; }
  .container-area .area--description {
    font-size: 17px;
    margin-top: 1rem;
    color: #343434;
    font-weight: 500;
    text-align: center; }
  .container-area .fields-container {
    box-shadow: -2px -2px 6px rgba(0, 107, 194, 0.12), 2px 2px 6px rgba(0, 107, 194, 0.12);
    margin-top: 3rem;
    padding: 2rem;
    margin-bottom: 4rem; }
    .container-area .fields-container img {
      width: 100%;
      height: 350px;
      object-fit: cover; }
    .container-area .fields-container .success-msg--notification {
      font-size: 21px;
      color: green;
      margin-top: 1rem;
      text-align: center; }
    .container-area .fields-container--field {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem; }
      .container-area .fields-container--field label {
        font-weight: 500;
        font-size: 18px; }
      .container-area .fields-container--field input {
        font-size: 20px;
        margin-top: 10px;
        border: 1px solid #c7c7c7;
        padding: 10px 15px; }
    .container-area .fields-container--btn {
      margin-top: 1rem;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      width: 100%;
      border-radius: 7px; }
      .container-area .fields-container--btn.fill {
        font-size: 20px;
        background: #2196f3;
        padding: 10px 0;
        font-weight: 600;
        color: white; }
      .container-area .fields-container--btn .link-text {
        font-weight: 500;
        color: #00a5ec;
        text-decoration: underline; }
    .container-area .fields-container--error {
      color: red;
      font-weight: 500;
      display: none; }
      .container-area .fields-container--error.active {
        display: block; }
  @media screen and (max-width: 620px) {
    .container-area .area--heading {
      font-size: 26px; }
    .container-area .area--description {
      font-size: 16px; }
    .container-area .fields-container {
      padding: 1rem 0;
      box-shadow: none;
      margin-top: 2rem; }
      .container-area .fields-container img {
        height: 200px; } }
  @media screen and (max-width: 380px) {
    .container-area .area--heading {
      font-size: 20px; }
    .container-area .fields-container {
      margin-top: 1.5rem; }
      .container-area .fields-container img {
        height: 170px; } }

.card {
  background: #fff;
  padding: 2rem;
  box-shadow: 0 0 3px #7b7b7b;
  border-radius: 10px;
  margin-bottom: 3rem;
  transition: all 0.2s linear; }
  .card:hover {
    box-shadow: 0 0 5px #626262; }
  @media screen and (max-width: 620px) {
    .card {
      padding: 1rem; } }

.card__head {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .card__head__info-banner {
    background: #fff;
    width: fit-content;
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center; }
    .card__head__info-banner i {
      font-size: 19px;
      margin-right: 10px;
      color: #00a5ec; }
  .card__head--save {
    padding: 3px 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    transition: .card__head--save smooth-tran;
    cursor: pointer; }
    .card__head--save i {
      font-size: 20px;
      margin-right: 5px; }
    .card__head--save:hover {
      background: #f5f5f5; }
  @media screen and (max-width: 520px) {
    .card__head .card__info-banner--text {
      font-size: 13px; }
    .card__head--save {
      font-size: 14px; }
      .card__head--save i {
        font-size: 18px; } }

.card__company-info {
  display: flex;
  justify-content: space-between; }
  .card__company-info__text--post {
    font-size: 18px;
    font-weight: 600;
    color: #1b2437; }
  .card__company-info__text--comp-name {
    font-weight: 500;
    color: #7b7b7b;
    margin-top: 0.4rem; }
  .card__company-info__logo {
    display: flex;
    margin-left: 1rem;
    width: 100%;
    max-width: fit-content;
    justify-content: flex-end; }
    .card__company-info__logo img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      max-width: 90px; }
  @media screen and (max-width: 520px) {
    .card__company-info__text--post, .card__company-info__text--comp-name {
      font-size: 15px; } }

.card__job-info {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5; }
  .card__job-info__item {
    margin-right: 1rem;
    margin-top: 1rem;
    color: #1b2437; }
    .card__job-info__item i {
      margin-right: 0.4rem; }
  @media screen and (max-width: 520px) {
    .card__job-info__item {
      font-size: 15px; } }

.card__tags {
  margin-top: 1.5rem;
  display: flex;
  line-height: 1.7;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  color: #949494; }
  .card__tags .dot {
    width: 6px;
    height: 6px;
    border-radius: 43rem;
    margin: 0 0.5rem;
    background: #949494; }
  @media screen and (max-width: 520px) {
    .card__tags {
      font-size: 13px; } }

.card__foot {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #484848;
  align-items: center; }
  .card__foot * {
    min-width: max-content; }
  .card__foot .foot-btn {
    border: 2px solid #fff;
    padding: 8px 15px;
    font-weight: 500;
    border-radius: 8px;
    transition: all 0.2s linear;
    cursor: pointer; }
  .card__foot__buttons {
    display: flex; }
    .card__foot__buttons--detail {
      border-color: #fff;
      margin-right: 2rem;
      color: #00a5ec; }
      .card__foot__buttons--detail:hover {
        background-color: #f5f5f5; }
    .card__foot__buttons--apply {
      border-color: #00a5ec;
      color: #fff;
      background-color: #00a5ec; }
  @media screen and (max-width: 520px) {
    .card__foot {
      font-size: 14px; } }
  @media screen and (max-width: 420px) {
    .card__foot {
      flex-direction: column;
      align-items: flex-start; }
      .card__foot__buttons {
        align-self: center;
        margin-top: 1rem; } }
