@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

input {
  border: none; }
  input:focus {
    outline: none; }

button {
  border: none;
  text-decoration: none;
  background: none; }
  button:hover {
    outline: none;
    cursor: pointer; }

h1 {
  font-family: "Source Serif Pro", serif; }

body {
  font-family: "Poppins", "Roboto", sans-serif; }

.green {
  color: #00dd12; }

.red {
  color: #cf0300; }

.font-heading {
  font-size: 40px;
  margin: 2rem 1rem 3rem;
  text-align: center;
  color: #005951;
  text-shadow: 2px 2px 6px #c7c7c7; }
  @media screen and (max-width: 470px) {
    .font-heading {
      margin-bottom: 2rem;
      font-size: 35px; } }

ul.font-text {
  margin: 1rem 5rem;
  line-height: 1.6; }
  @media screen and (max-width: 470px) {
    ul.font-text {
      font-size: 16px;
      margin: 1rem 3rem; } }

.font-text {
  font-size: 18px;
  margin: 1rem 3rem;
  font-weight: 500;
  color: #484848;
  line-height: 24px; }
  @media screen and (max-width: 470px) {
    .font-text {
      font-size: 16px;
      margin: 1rem; } }

.font-subheading {
  margin: 2rem 3rem 1rem;
  color: #1b2437;
  font-size: 25px; }
  @media screen and (max-width: 470px) {
    .font-subheading {
      font-size: 20px;
      margin: 2rem 1rem 1rem; } }

.margin-btm {
  margin-bottom: 3rem; }

li {
  text-align: -webkit-match-parent; }

a {
  text-decoration: none;
  color: #484848; }

.container-area {
  min-height: 80vh;
  width: fit-content;
  margin: 0 auto;
  max-width: 550px;
  padding: 0 1rem; }
  .container-area .area--heading {
    font-family: "Poppins";
    font-size: 40px;
    margin-top: 4rem;
    color: #004a85;
    word-spacing: 7px;
    text-align: center; }
  .container-area .area--description {
    font-size: 17px;
    margin-top: 1rem;
    color: #343434;
    font-weight: 500;
    text-align: center; }
  .container-area .fields-container {
    box-shadow: -2px -2px 6px rgba(0, 107, 194, 0.12), 2px 2px 6px rgba(0, 107, 194, 0.12);
    margin-top: 3rem;
    padding: 2rem;
    margin-bottom: 4rem; }
    .container-area .fields-container img {
      width: 100%;
      height: 350px;
      object-fit: cover; }
    .container-area .fields-container .success-msg--notification {
      font-size: 21px;
      color: green;
      margin-top: 1rem;
      text-align: center; }
    .container-area .fields-container--field {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem; }
      .container-area .fields-container--field label {
        font-weight: 500;
        font-size: 18px; }
      .container-area .fields-container--field input {
        font-size: 20px;
        margin-top: 10px;
        border: 1px solid #c7c7c7;
        padding: 10px 15px; }
    .container-area .fields-container--btn {
      margin-top: 1rem;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      width: 100%;
      border-radius: 7px; }
      .container-area .fields-container--btn.fill {
        font-size: 20px;
        background: #2196f3;
        padding: 10px 0;
        font-weight: 600;
        color: white; }
      .container-area .fields-container--btn .link-text {
        font-weight: 500;
        color: #00a5ec;
        text-decoration: underline; }
    .container-area .fields-container--error {
      color: red;
      font-weight: 500;
      display: none; }
      .container-area .fields-container--error.active {
        display: block; }
  @media screen and (max-width: 620px) {
    .container-area .area--heading {
      font-size: 26px; }
    .container-area .area--description {
      font-size: 16px; }
    .container-area .fields-container {
      padding: 1rem 0;
      box-shadow: none;
      margin-top: 2rem; }
      .container-area .fields-container img {
        height: 200px; } }
  @media screen and (max-width: 380px) {
    .container-area .area--heading {
      font-size: 20px; }
    .container-area .fields-container {
      margin-top: 1.5rem; }
      .container-area .fields-container img {
        height: 170px; } }

.filters {
  min-width: 420px;
  margin-right: 4rem;
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0px 0px 2px #c7c7c7;
  border: #c7c7c7;
  position: sticky;
  top: 8rem;
  height: 80vh;
  overflow-y: scroll; }
  .filters::-webkit-scrollbar {
    width: 7px; }
  .filters::-webkit-scrollbar-track {
    background: #fff; }
  .filters::-webkit-scrollbar-thumb {
    background: gainsboro;
    border-radius: 0 0 20px 20px; }
  .filters .close-icon {
    display: none;
    position: absolute;
    right: 0;
    font-size: 24px;
    top: -10px;
    color: #fff;
    background: #00a5ec;
    padding: 4px 10px;
    border-radius: 20rem; }
  @media screen and (max-width: 1210px) {
    .filters {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 6;
      display: none;
      padding: 2rem 1rem;
      min-width: unset; }
      .filters.active {
        display: block; }
      .filters .close-icon {
        display: inline-block;
        margin-left: auto; } }

.filters__heading {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #1b2437;
  position: relative; }
  .filters__heading i {
    margin-left: 10px;
    color: #00a5ec; }

.filters__choice {
  margin-top: 1rem; }
  .filters__choice.category {
    margin-top: 2rem; }
  .filters__choice--heading {
    font-weight: 500;
    color: #1b2437; }

.filters__choice__box {
  display: flex;
  list-style: none;
  margin-top: 0.5rem;
  border: 1px solid #c7c7c7;
  padding: 10px 10px;
  position: relative;
  flex-wrap: wrap; }
  .filters__choice__box.active {
    border-color: #00a5ec; }
  .filters__choice__box--field {
    display: flex;
    min-width: max-content;
    background: #00a5ec;
    color: #fff;
    padding: 3px 5px;
    border-radius: 5px;
    margin: 0.5rem 0.2rem; }
    .filters__choice__box--field i {
      cursor: pointer;
      margin-left: 7px; }
  .filters__choice__box--search {
    width: 80px;
    margin-left: 10px;
    font-size: 18px; }
    .filters__choice__box--search.initial {
      width: 100%; }
  .filters__choice__box__selection {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: #ecf9ff;
    border: 1px solid #00a5ec;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 2;
    display: none; }
    .filters__choice__box__selection.visible {
      display: block; }
    .filters__choice__box__selection .result {
      font-size: 16px;
      padding: 5px 15px;
      border-bottom: 1px solid #00a5ec;
      cursor: pointer;
      transition: all 0.2s linear; }
      .filters__choice__box__selection .result:hover {
        background-color: #86dbff; }
      .filters__choice__box__selection .result.disable {
        background: #c7c7c7;
        cursor: default; }
        .filters__choice__box__selection .result.disable:hover {
          background-color: #c7c7c7; }
    .filters__choice__box__selection::-webkit-scrollbar {
      width: 7px; }
    .filters__choice__box__selection::-webkit-scrollbar-track {
      background: #f5f5f5; }
    .filters__choice__box__selection::-webkit-scrollbar-thumb {
      background: #00a5ec;
      border-radius: 0 0 20px 20px; }

.filters__choice__checkbox {
  margin-top: 0.5rem; }
  .filters__choice__checkbox.first {
    margin-top: 1rem; }
  .filters__choice__checkbox input {
    margin-right: 0.7rem; }
  .filters__choice__checkbox label {
    font-size: 15px;
    font-weight: 500;
    color: #484848;
    text-transform: capitalize; }

.filters__range {
  margin-top: 1.5rem; }
  .filters__range--text {
    font-weight: 500;
    color: #484848;
    display: flex;
    align-items: center;
    margin-top: 1rem; }
    .filters__range--text span {
      background: #484848;
      margin-left: 0.8rem;
      padding: 2px 10px;
      color: #fff; }
  .filters__range input {
    width: 100%;
    -webkit-appearance: none;
    height: 7px;
    background: #d4d4d4;
    border-radius: 5px;
    background-image: linear-gradient(#00a5ec, #00a5ec);
    background-repeat: no-repeat; }
    .filters__range input::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background: #00a5ec;
      cursor: pointer;
      box-shadow: 0 0 2px 0 #484848;
      transition: background 0.3s ease-in-out; }
    .filters__range input::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      box-shadow: none;
      border: none;
      background: transparent; }
    .filters__range input::-webkit-slider-thumb:hover {
      box-shadow: rgba(0, 165, 236, 0.3) 0px 0px 0px 8px; }
    .filters__range input::-webkit-slider-thumb:active {
      box-shadow: rgba(0, 165, 236, 0.3) 0px 0px 0px 11px;
      transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; }

.filters__salary {
  margin-top: 2rem; }
