@import "../../scss/defaults.scss";

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background: white;
}

.navbar .holder {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 2rem 1rem;

  @media screen and (max-width: 980px) {
    padding: 1rem;
  }
}

.navbar {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.navbar__hamburger {
  font-size: 33px;
  display: none;
  margin-right: 2rem;
  color: $dark-gray;

  .black-screen {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: $smooth-tran;
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    text-transform: capitalize;
    font-size: 17px;
    width: fit-content;
    max-width: 90%;
    height: 100%;
    z-index: 3;
    background: white;
    padding: 2rem 0;
    transform: translateX(-100%);
    transition: $smooth-tran;

    &--link {
      padding: 0.5rem 2rem;
      min-width: max-content;
    }

    hr {
      margin: 0.8rem 0;
      border-top: 1px solid $light-gray;
    }
  }

  &.active {
    .black-screen {
      z-index: 2;
      background: rgba(72, 72, 72, 0.5);
    }

    .navbar__hamburger__menu {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 980px) {
    display: block;
  }

  @media screen and (max-width: 300px) {
    &__menu--link {
      padding: 0.5rem 1.5rem;
    }
  }
}

.navbar__logo {
  .img {
    width: 118px;
    height: 42px;
    object-fit: contain;
  }

  @media screen and (max-width: 410px) {
    margin: 0 auto;
  }
}

.navbar__links {
  list-style: none;
  display: flex;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: $dark-gray;

  margin-left: auto;
  margin-right: 4rem;

  &--link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 6px 15px;
    transition: $smooth-tran;
    min-width: fit-content;
    margin: 0 10px;

    i {
      font-weight: 900;
      font-size: 27px;
      margin-left: 5px;
      transition: transform 0.2s linear;
    }

    &:hover, &.active {
      background: lighten($primary-color, 47%);
      color: $primary-color;
    }

    &.space {
      padding: 0 10px;
    }
  }

  @media screen and (max-width: 980px) {
    display: none;
  }
}

.navbar__buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 6px;
    transition: $smooth-tran;
    font-size: 15px;
  }

  .navbar__buttons--login {
    border: 2px solid $primary-color;
    color: $primary-color;
    padding: 7px 20px;
    margin-right: 2rem;
    margin-right: 1rem;

    &:hover {
      background: $dark-white;
    }
  }

  .navbar__buttons--register {
    border: 2px solid $primary-color;
    background: $primary-color;
    color: white;
    padding: 0px 15px 1px 20px;
    position: relative;

    i {
      margin-left: 5px;
      font-size: 30px;
      transform: rotate(0deg);
      position: relative;
      transition: transform 0.2s linear;
    }

    &-menu {
      background: white;
      opacity: 0;
      position: absolute;
      bottom: calc(-100% + -4rem);
      color: $dark-gray;
      text-align: left;
      left: 0px;
      box-shadow: 0px 0px 4px grey;
      border: 1px solid rgba(0, 0, 0, 0.15);
      min-width: 100%;
      font-size: 14px;
      font-family: "Poppins";
      font-weight: 100;
      z-index: -2;
      transition: $smooth-tran;
    }

    &-option {
      padding: 10px 15px;
      min-width: max-content;

      &:hover {
        background: lighten($primary-color, 47%);
        color: $primary-color;
      }
    }

    &:hover {
      i {
        transform: rotate(-180deg);
        top: -2px;
      }

      .navbar__buttons--register-menu {
        z-index: 2;
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: 980px) {
    margin-left: auto;
  }

  @media screen and (max-width: 530px) {
    .navbar__buttons--login {
      display: none;
    }
  }

  @media screen and (max-width: 410px) {
    .navbar__buttons--register {
      display: none;
    }
  }
}
