@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

a {
  text-decoration: none; }

input {
  border: none; }
  input:focus {
    outline: none; }

button {
  border: none;
  text-decoration: none;
  background: none; }
  button:hover {
    outline: none;
    cursor: pointer; }

body {
  font-family: "Poppins", "Roboto", sans-serif; }

.cat-container {
  padding: 2rem 1rem 0;
  max-width: fit-content;
  margin: 0 auto; }
  .cat-container .container {
    margin-bottom: 4rem; }
    .cat-container .container h3 {
      color: rgba(27, 36, 55, 0.9);
      font-family: "Inter", sans-serif;
      font-size: 23px;
      font-weight: 500; }
  @media screen and (max-width: 700px) {
    .cat-container {
      padding: 2rem 0; } }

.cat-container__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 4rem; }
  .cat-container__header--text h1 {
    font-size: 2rem;
    color: #1b2437; }
  .cat-container__header--text p {
    font-size: 17px;
    color: #8292b4; }
  .cat-container__header--link {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: #00a5ec;
    padding: 0 10px;
    cursor: pointer; }
    .cat-container__header--link i {
      margin-left: 8px;
      font-size: 30px; }
    .cat-container__header--link:hover {
      background: #ddf5ff; }
  @media screen and (max-width: 700px) {
    .cat-container__header {
      display: block; }
      .cat-container__header .cat-container__header--link {
        padding: 0 10px;
        margin-top: 1rem;
        width: fit-content;
        position: relative;
        left: -10px; } }

.container__categories {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap; }
  .container__categories--option {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    color: #1b2437;
    padding: 20px 10px;
    min-width: 155px;
    cursor: pointer;
    text-align: center !important; }
    .container__categories--option img {
      object-fit: contain;
      width: 64px !important;
      margin: 15px auto; }
    .container__categories--option:hover {
      background: rgba(199, 199, 199, 0.2); }
  @media screen and (max-width: 370px) {
    .container__categories--option {
      margin: 0 auto; }
    .container__categories--option img {
      width: 70px; }
    .container__categories--option p {
      font-size: 16px; } }
