@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

input {
  border: none;

  &:focus {
    outline: none;
  }
}

button {
  border: none;
  text-decoration: none;
  background: none;

  &:hover {
    outline: none;
    cursor: pointer;
  }
}

// Colors
$primary-color: #00a5ec;
$secondary-color: #fff;

$dark-white: #f5f5f5;
$pink: #e91e63;

$red: #cf0300;

$light-gray: #c7c7c7;
$dark-gray: #484848;

$purple: #c5d6f4;

$light-blue: #8292b4;
$dark-blue: #1b2437;

$light-green: #00f614;
$dark-green: #005951;

$dark-brown: #83554485;

// Transitions
$smooth-tran: all 0.2s linear;

// Front-family
$text-font: "Poppins", "Roboto", sans-serif;
$heading-font: "Source Serif Pro", serif;
$subheading-font: "Inter", sans-serif;

h1 {
  font-family: $heading-font;
}

body {
  font-family: $text-font;
}

.green {
  color: darken($light-green, 5%);
}
.red {
  color: $red;
}

.font-heading {
  font-size: 40px;
  margin: 2rem 1rem 3rem;
  text-align: center;
  color: $dark-green;
  text-shadow: 2px 2px 6px $light-gray;

  @media screen and (max-width: 470px) {
    margin-bottom: 2rem;
    font-size: 35px;
  }
}

ul.font-text {
  margin: 1rem 5rem;
  line-height: 1.6;

  @media screen and (max-width: 470px) {
    font-size: 16px;
    margin: 1rem 3rem;
  }
}

.font-text {
  font-size: 18px;
  margin: 1rem 3rem;
  font-weight: 500;
  color: $dark-gray;
  line-height: 24px;

  @media screen and (max-width: 470px) {
    font-size: 16px;
    margin: 1rem;
  }
}

.font-subheading {
  margin: 2rem 3rem 1rem;
  color: $dark-blue;
  font-size: 25px;

  @media screen and (max-width: 470px) {
    font-size: 20px;
    margin: 2rem 1rem 1rem;
  }
}

.margin-btm {
  margin-bottom: 3rem;
}

li {
  text-align: -webkit-match-parent;
}

a {
  text-decoration: none;
  color: $dark-gray;
}

// Login/Register Designs --- REMOVE AFTER USE

.container-area {
  min-height: 80vh;
  width: fit-content;
  margin: 0 auto;
  max-width: 550px;
  padding: 0 1rem;

  .area--heading {
    font-family: "Poppins";
    font-size: 40px;
    margin-top: 4rem;
    color: #004a85;
    word-spacing: 7px;
    text-align: center;
  }

  .area--description {
    font-size: 17px;
    margin-top: 1rem;
    color: #343434;
    font-weight: 500;
    text-align: center;
  }

  .fields-container {
    box-shadow: -2px -2px 6px rgba(0, 107, 194, 0.12),
      2px 2px 6px rgba(0, 107, 194, 0.12);
    margin-top: 3rem;
    padding: 2rem;
    margin-bottom: 4rem;

    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
    }

    .success-msg--notification {
      font-size: 21px;
      color: green;
      margin-top: 1rem;
      text-align: center;
    }

    &--field {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;

      label {
        font-weight: 500;
        font-size: 18px;
      }

      input {
        font-size: 20px;
        margin-top: 10px;
        border: 1px solid #c7c7c7;
        padding: 10px 15px;
      }
    }

    &--btn {
      margin-top: 1rem;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      width: 100%;
      border-radius: 7px;

      &.fill {
        font-size: 20px;
        background: #2196f3;
        padding: 10px 0;
        font-weight: 600;
        color: white;
      }

      .link-text {
        font-weight: 500;
        color: $primary-color;
        text-decoration: underline;
      }
    }

    &--error {
      color: red;
      font-weight: 500;
      display: none;

      &.active {
        display: block;
      }
    }
  }

  @media screen and (max-width: 620px) {
    .area--heading {
      font-size: 26px;
    }

    .area--description {
      font-size: 16px;
    }

    .fields-container {
      padding: 1rem 0;
      box-shadow: none;
      margin-top: 2rem;

      img {
        height: 200px;
      }
    }
  }

  @media screen and (max-width: 380px) {
    .area--heading {
      font-size: 20px;
    }

    .fields-container {
      margin-top: 1.5rem;

      img {
        height: 170px;
      }
    }
  }
}
